#container{
    width: 200px;
}

#display{
    background-color: black;
    color: white;
    font-size: 25px;
    text-align: right;
}

button{
    font-size: 25px;
}

#keys{
    width: 100px;

}

#equal-button{
    text-align: right;
}

#num-keys{
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}